.idea/
cifar/
logs/
*.pyc
#*.m
*.mat
*.th
*.m~
data/*
!data/mnist
matlab*
implicit/.ipynb_checkpoints/
robustness/notebook/.ipynb_checkpoints/
robustness/figures/
robustness/CIFAR_Implicit_300_Inf/
validation/.ipynb_checkpoints/
validation/mnist_experiments/.ipynb_checkpoints/
validation/sparse_experiments/.ipynb_checkpoints/
validation/traffic_light_experiments/.ipynb_checkpoints/
validation/inaccurate_gradient/.ipynb_checkpoints/
